<div class="card">
  <button class="btn btn-primary" (click)="giveMeSomewhere()">Give me somewhere{{!!chosenPlace ? ' else' : ''}}!</button>
  <div class="card-body" *ngIf="chosenPlace">
    <h4 class="card-title">{{chosenPlace?.name | capitalize}}</h4>
    <div>Climate: {{chosenPlace?.climate | capitalize}}</div>
    <div>Gravity: {{chosenPlace?.gravity | capitalize}}</div>
    <div>Population: {{chosenPlace?.population | population}}</div>
    <div>Terrain: {{chosenPlace?.terrain | capitalize}}</div>
    <div>Days/year: {{chosenPlace?.daysPerYear}}</div>
    <div>Hours/day: {{chosenPlace?.hoursPerDay}}</div>
  </div>
</div>
<br/>
<div class="card">
  <button class="btn btn-primary" (click)="browse()">Browse Planets</button>
</div>


