<div *ngIf="browsingPeople" class="row">
  <div *ngFor="let person of people" class="col-md-3">
    <div class="card mt-3" (click)="updatePerson(person)" style="cursor: pointer;">
      <div class="card-body" *ngIf="person && person?.species">
        <h4 class="card-title">{{person?.name | capitalize}}</h4>
        <div>Height: {{person?.height}}</div>
        <div>Species: {{person?.species?.name | capitalize}}</div>
        <div>Classification: {{person?.species?.classification | capitalize}}</div>
        <div>Avg. Height: {{person?.species?.height}}</div>
        <div>Avg. Lifespan: {{person?.species?.average_lifespan | capitalize}}</div>
        <div>Language: {{person?.species?.language | capitalize}}</div>
      </div>
    </div>
  </div>
  <div *ngIf="people.length > 0" (click)="loadMore()" class="col-md-3">
    <div class="card mt-3" style="cursor: pointer; text-align: center">
      <div class="card-body"><h2>Load More</h2></div>
    </div>
  </div>
</div>
