<div *ngIf="browsingPlaces" class="row">
  <div *ngFor="let planet of places" class="col-md-3">
    <div class="card mt-3" [ngClass]="{chosen: planet?.name == chosenPlace?.name}" (click)="updatePlace(planet)" style="cursor: pointer;">
      <div class="card-body" *ngIf="planet">
          <h4 class="card-title">{{planet?.name | capitalize}}</h4>
          <div>Climate: {{planet?.climate | capitalize}}</div>
          <div>Gravity: {{planet?.gravity | capitalize}}</div>
          <div>Population: {{planet?.population | population}}</div>
          <div>Terrain: {{planet?.terrain | capitalize}}</div>
          <div>Days/year: {{planet?.daysPerYear}}</div>
          <div>Hours/day: {{planet?.hoursPerDay}}</div>
        </div>
    </div>
  </div>
  <div *ngIf="places?.length > 0 && places?.length < planetCount" (click)="loadMore()" class="col-md-3">
    <div class="card mt-3" style="cursor: pointer; text-align: center">
      <div class="card-body"><h2>Load More</h2><i class="fa fa-plus" style="font-size: 4em;"></i></div>
    </div>
  </div>
</div>
