<div class="card">
  <button class="btn btn-primary" (click)="giveMeSomeone()">Give me someone{{!!chosenPerson ? ' else' : ''}}!</button>
  <div class="card-body" *ngIf="chosenPerson && chosenPerson?.species"
    [routerLink]="['/details/person', chosenPerson?.id]" style="cursor: pointer;">
    <h4 class="card-title">{{chosenPerson?.name | capitalize}}</h4>
    <div>Height: {{chosenPerson?.height}}</div>
    <div>Species: {{chosenPerson?.species?.name | capitalize}}</div>
    <div>Classification: {{chosenPerson?.species?.classification | capitalize}}</div>
    <div>Avg. Height: {{chosenPerson?.species?.height}}</div>
    <div>Avg. Lifespan: {{chosenPerson?.species?.average_lifespan | capitalize}}</div>
    <div>Language: {{chosenPerson?.species?.language | capitalize}}</div>
  </div>
</div>
<br/>
<div class="card">
  <button class="btn btn-primary" (click)="browse()">Browse People</button>
</div>
